

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.stat {
    width: 20%;
    height: 20%;
    background-color: pink;

}


.row {
    display: flex;
}

.square {
    border: 5px outset grey;
    width:50px ;
    height: 50px;
    background-image: url("../images/ground.jpg");
}

.wall {
    background-image: url("../images/wall.jpg");
    background-color: darkgray;
}

.weapon {
    border-color: red;
}

div[weapon = "sword"] {
    background-image: url("../images/sword.png");
}

div[weapon = "sword1"] {
    background-image: url("../images/sword.png");
}

div[weapon = "dagger"] {
    background-image: url("../images/dagger.png");
}

div[weapon = "saber"] {
    background-image: url("../images/saber.png");
}

div[weapon = "ax"] {
    background-image: url("../images/ax.png");
}

div[weapon = "club"] {
    background-image: url("../images/club.png");
}

.player[playerWeapon = "sword"] {
    background-image: url("../images/swordPlayer.png"); 
}

.player[playerWeapon = "sword1"] {
    background-image: url("../images/swordPlayer.png"); 
}

.player[playerWeapon = "dagger"] {
    background-image: url("../images/daggerPlayer.png"); 
}

.player[playerWeapon = "saber"] {
    background-image: url("../images/saberPlayer.png"); 
}

.player[playerWeapon = "ax"] {
    background-image: url("../images/axPlayer.png"); 
}

.player[playerWeapon = "club"] {
    background-image: url("../images/clubPlayer.png"); 
}

.player1 {
    border-color: darkred;
}

.player2 {
    border-color: darkblue;
}

.moveCase {
    border-color: ivory;
}