

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.stat {
    width: 20%;
    height: 20%;
    background-color: pink;

}


.row {
    display: flex;
}

.square {
    border: 5px outset grey;
    width:50px ;
    height: 50px;
    background-image: url("../images/ground.jpg");
}

.wall {
    background-image: url("../images/wall.jpg");
    background-color: darkgray;
}

.weapon {
    border-color: red;
}

.sword {
    background-image: url("../images/sword.png");
}

.dagger {
    background-image: url("../images/dagger.png");
}

.saber {
    background-image: url("../images/saber.png");
}

.ax {
    background-image: url("../images/ax.png");
}

.club {
    background-image: url("../images/club.png");
}

.player {
    background-image: url("../images/swordPlayer.png"); 
}

.player1 {
    border-color: darkred;
}

.player2 {
    border-color: darkblue;
}

.moveCase {
    border-color: ivory;
}