.fightWindow {

    position: absolute;
    text-align: center;
    border: 3px solid darkgray;
    border-radius: 10px;
    
    
    background-color:var(--backgroundColor);
    position: fixed;
    margin-top: 10vh;
    display:flex;
    flex-direction: column;
    

}

.infoPlayerFight {
    display: flex;
}

.currentPlayer {
    border-color: brown;
}

.shield {
    background-color: lightblue;
}

.hide {
    display: none;
}