.statPlayer {
    padding:10px;
    color:white;
    h3 {
        font-size: .8em;
    }    
}

.statPlayer1 {
    background-color: var(--player1Color);
    border:5px solid var(--player1Color);    
}

.statPlayer2 {
    background-color: var(--player2Color);
    border:5px solid var(--player2Color)
}

.flex{
    display: flex;
}

.currentPlayer {
    animation: 1000ms ease-in-out alternate infinite blinking;
}

.hide {
    display: none;
}

@keyframes blinking {
    from {border: 5px solid var(--backgroundColor);}
    to {border: 5px solid white;}
}