* {
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
}

body{
    background: var(--backgroundColor);
    color:white;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.playerTurnName {
    font-size:1em;
    text-align: center;
}