* {
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
}

body{
    background: var(--backgroundColor);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
