:root {
    --player1Color: #AD2E17;
    --player2Color: #1F5255;
    --caseSize:60px;
    --caseBackground : rgba(21, 92, 62, 0.5);
    --caseBorderColor : #211F1E;
    --backgroundColor : #211F1E;
    --caseBackgroundOppacity : 0.3;
    --bigPlayerWidth: 70%;
}